button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid #fff000;
    border-radius: 30px;
    box-shadow: 1px 3px 6px #1120365d;

    @media (max-width:768px) {
        font-size: 14px;
    }
}

button.learn-more {
    min-width: 140px;
    height: auto;

     @media (max-width:768px) {
        min-width: 130px;
    }
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 35px;
    height: 35px;
    background: #f1f1f190;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff000;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.325rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;

    @media (max-width:768px) {
        left: 0.215rem;
        width: 1.105rem;
    }
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.025rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #000;
    border-right: 0.125rem solid #000;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px 0;
    margin: 0 0 0 1.85rem;
    color: #fff000;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    
    @media (max-width:768px) {
        padding: 5px 0;
    }
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #000;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #000;
}